footer {
    background-color: #353535;
    color: white;
    
}

#titrefooter {
    font-family: "shrikhand"; 
    padding-top: 20px;
    margin-left: 15px;
    font-weight: lighter;
}

ul {
    line-height: 2em;
    margin: 20px 0px 0px 20px;
    padding-bottom: 30px;
    list-style-type: none;
    padding-left: 0px;
    font-family: "Roboto";
}

.listelogo {
    margin-left: 10px;
}

#logofooter {
    margin-right: 10px;
    margin-left: -10px;
}

#footer1 {
    background-color: #353535;
    color: white;
    margin-top: 30px;
}

.mail {
    text-decoration: none;
    color: white;
}