#entree {
    animation: menuapparent 1000ms ease-in-out;
}
#plat {
    animation: menuapparent 2000ms ease-in-out;
}
#dessert {
    animation: menuapparent 3000ms ease-in-out;
}

@keyframes menuapparent {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }  
}