.lemenu {
    animation: menuapparent 1000ms ease-in-out;
    animation-fill-mode: forwards;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: 250ms * $i;
        }
    }
}

@keyframes menuapparent {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }  
}