.loading {
    animation: loadingscreen 2000ms ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes loadingscreen {
    0% {
        transform: rotate(720deg);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#body {
    animation: loadingpage 2000ms ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2000ms;
}
@keyframes loadingpage {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.lemenu {
    animation: menuapparent 1000ms ease-in-out;
    animation-fill-mode: forwards;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: 250ms * $i;
        }
    }
}
@keyframes menuapparent {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }  
}