$primary-background-color: #F6F6F6;
$secondary-background-color: white;
$footer-background-color: #353535;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$secondary-color-lighten: #e6d2ff;
$tertary-color: #99E2D0;
$head-background-color: #EAEAEA;
$logo-color: grey;
