$primary-background-color: #F6F6F6;
$secondary-background-color: white;
$footer-background-color: #353535;
$btn-color:#D96DDA;
$primary-color: white;
$secondary-color: #4D4D4D;
$head-background-color: #EAEAEA;
$logo-color: grey;