main {
    background-color: #F6F6F6;
    font-family: "Roboto";
}

#Restaurants {
    flex-wrap: wrap;
    justify-content: flex-start;
}

#Titremain {
    margin-left: 10px;
    margin-top: 40px;
}


.carte1 {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 2px 2px 15px grey;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 10px;
    position: relative;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    color: #3ea04ba2;
    width: 90px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.imagesrestaurants {
    width: 100%;
    text-align: center;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.interaction {
    display: flex;
    justify-content: space-between;
}
.like {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;  
}
.nomrestaurant {
    justify-content: flex-end;
    margin-left: 20px;
    line-height: 0.3em;
    padding: 5px 0px 5px 0px;
}


span.dimensionimages {
    width: auto;
}