@import "../utils/variables";

main {
    background-color: #F6F6F6;
    font-family: "Roboto";
    max-width: 1024px;
}

#titrenav {
    margin-left: 30px;
    font-family: "Roboto";
}
nav {
    margin-left: 20px;
    justify-content: center;
    margin-right: 20px;  
    flex-wrap: wrap;
    font-family: "Roboto"; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
#nav {
    display: flex;
    justify-content: center;
}
.menu {
    width: 250px;
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    height: 60px;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 10px;
    box-shadow: 0px 4px 8px 6px #EAEAEA;
    background-color: $primary-background-color;
    position: relative;
    &:hover {
        cursor: pointer;
        background-color: $secondary-color-lighten;
        box-shadow: 0px 4px 8px 20px #EAEAEA;
        & > .navigation > #logomenu {
            color: $primary-color;
        }
    }
}
.notification {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    border-radius: 20px;
    background-color: $primary-color;
    position: absolute;
    left: -5px;
}
.navigation {
    display: flex;
    margin-left: 20px;
}
#logomenu {
    color: $logo-color;
    margin-left: 10px;
}
.txtmenu {
    margin-left: 30px;
}

#Restaurants {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    padding-top: 30px;
}

#Titremain {
    margin-left: 30px;
    margin-top: 40px;
    font-family: "Roboto";
}


.carte1 {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 2px 2px 10px 1px grey;
    border-radius: 20px;
    background-color: white;
    margin: 0px 10px 30px 10px;
    position: relative;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    color: #3ea04ba2;
    width: 90px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.imagesrestaurants {
    width: 100%;
    text-align: center;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.interaction {
    display: flex;
    justify-content: space-between;
}
.like {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-size: 1.5em; 
    position: relative;
    right: 20px;
    &:hover {
        cursor: pointer;
        & > #coeurvide {
            -webkit-text-fill-color: transparent;
        }
        & > #coeurplein > .fas { 
            -webkit-text-fill-color: $primary-color;
        }
    } 
}

#coeurvide {
    display: flex;
    justify-content: center;
    align-items: center;
}

#coeurplein {
    display: flex;
    justify-content: center;
    align-items: center;
    .fas {
        font-size: 1em;
        color: $primary-color;
        background: -webkit-linear-gradient(to bottom right, $secondary-color, $primary-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.nomrestaurant {
    justify-content: flex-end;
    margin-left: 20px;
    line-height: 0.3em;
    padding: 5px 0px 5px 0px;
}


span.dimensionimages {
    width: auto;
}