#cartemenu1 {
    background-color: #F6F6F6;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
}

.lemenu {
    &:hover > .prix {
        & > p {
            transform: rotate(0deg);
        }
        transform: translateX(-50px); 
       }
    display: flex;
    justify-content: space-between;
    margin: 20px;
    line-height: 0.6em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 15px grey;
}

.prix {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    transition: transform 330ms ease-in-out;
    p {
        transform: rotate(360deg);
        transition: transform 500ms ease-in-out;
        font-weight: bold;
    }
}

.platcompo {
    margin-left: 20px;
    span {
        font-weight: bold;
    }
}


h3 {
    margin-left: 20px;
    padding-top: 20px;
}

#titremenu1 {
    padding-top: 20px;
    font-family: "corben";
    font-style: italic;
    display: flex;
    justify-content: space-around;
}

#interactmenu1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search1 {
    display: block;
    margin: auto;
    background-color: #D96DDA;
    border: none;
    color: white;
    border-radius: 20px;
    font-family: "Roboto";
    width: 200px;
    height: 45px;
    box-shadow: 0px 8px 12px grey;
}