@import "../utils/variables";

#headerflex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#btn-back{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    &:hover #btn {
        cursor: pointer;
        & > i {
            color: $tertary-color;
        }
    }
}

#btn {
    font-size: 2em;
    color: grey;
}

#btn-next {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn2 {
    font-size: 2em;
    color: white;
}

.imagemenu1 {
    width: 100%;
    height: 220px;
    object-fit: cover;
    position: relative;
    margin-bottom: -50px;
}
