@import "../utils/variables";

#headerflex {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#btn-back{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
    &:hover #btn {
        cursor: pointer;
        & > i {
            color: $tertary-color;
        }
    }
}
#btn {
    font-size: 2em;
    color: grey;
}
#header1 {
    margin-left: -220px;
}
.imagemenu1 {
    width: 100%;
    height: 220px;
    object-fit: cover;
    position: relative;
    margin-bottom: -50px;
}
