@import "../utils/variables";
@font-face {
    font-family: "Roboto";
    src: url(Font/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Shrikhand";
    src: url(Font/shrikhand/Shrikhand-Regular.ttf);
}

body {
    margin: auto;
    max-width: 1440px;
}
#header {
    text-align: center;
    margin: 10px 0px 40px 0px;
}
#title {
    box-shadow: 0px 10px 3px -1px #D5D5D5;
}
h1 {
    font-family: "Shrikhand";
    margin: auto;
}
.logooff {
    width: 200px;
    height: 30px;
}
#localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 5px;
}
#lieu {
    display: flex;
    justify-content: center;
    background-color: $head-background-color;
    margin-top: 3px;
}
#introduction {
    background-color: $primary-background-color;
    margin-top: 0px;
    padding: 20px 0px 25px 0px;
}
#phraseintro {
    color: grey;
}
.search {
    background: linear-gradient(to bottom right, $secondary-color, $primary-color);
    border: none;
    color: white;
    border-radius: 20px;
    font-family: "Roboto";
    width: 200px;
    height: 45px;
    box-shadow: 0px 5px 10px 0px grey;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 5px 10px 6px grey;
        transform: scale(1.1);
        transition: transform 200ms ease-in-out;
    }
}
header {
    font-family: "Roboto";
    padding-bottom: 20px;
}
